.outer{
    height: 18%;
    
}
.input{
    border: none;
    font-size: 20px;
}
.input:focus-visible{
    outline: none;
}
.upper{
    margin: 20px 20px 13px;
    display: flex;
}
.post{
 
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    

}
.allIcons{
    font-size: 20px;
    color: rgb(22, 146, 195);
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2px;
}