.followSection {
    margin: auto;
     margin-top: 1.2rem;
     height: 20vh;
     width: 90%;
     background-color: whitesmoke;
     border-radius: 1.2rem;
     overflow: hidden;
}
.followSection::-webkit-scrollbar {
    display: none;
}
.followUser {
    height: 3rem;
    width: 100%;
    display: flex;
}
.followSection > h3 {
    margin: 0.6rem 0 0.6rem 0.8rem;
}


.followBtn {
    height: 2rem;
    width: 6.2rem;
    background-color: #000;
    color: white;
    font-size: 0.8rem;
    border-radius: 1.8rem;
    margin-left: 4.4rem;
    padding: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.followBtn:hover::after {
    background-color: #000;

}
.text {
    margin-left: 1rem;
    padding-left: 1rem;

}