.card{
    border: 1px solid rgb(216, 214, 214);
    min-height: 60vh;
   
    width: 40vw;
}
.head{
    margin: 2%;
    display: flex;
    gap: 4%
}
.user{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 0.5rem;
}
.img_container{
   width: 30vw;
   background-color: rgb(186, 184, 184);
   height: 36vh;
   margin: auto;
   border-radius: 15px;
   border-radius: 2rem;
}
.img_container img {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
}
.userImageContainer img{
    border: 1px solid black;
    height: 45px;
    width: 45px;
    border-radius: 50px;
}
.icons{
    width: 85%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    color: rgb(94, 93, 93);
}
.alignIcon{
    display: flex;
    gap: 5px;
}
p{
    font-size: 15px;
}