
.outer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40%;
    border: 1px rgb(202, 202, 202);
}
.name{
    margin-left: 20px;
}
.footer{
    padding-left: 100px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 60%;
}